Makefile
Makefile.am
configure
m4
m4/*
*.o
*~
src/serve
src/points2qt
src/points2qtts
src/dump_landlines
src/dump_mts
Makefile.in
config.*
libtool
.deps
aclocal.m4
autom4te.cache
autom4te.cache/*
stamp-h1
aux-scripts
src/nanocube-count-*.txt
src/dump_flights
src/dump_cdrs
src/stree_dmp
src/stree_serve
src/stree_serve.dtps/
build
build/*
build-g/*
.DS_Store
