html,body,#nc {
    height:100%;
    width:100%;
    margin:0;
    font-family: 'Lato', sans-serif;
}

.axis path,
.axis line{
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #fff;
    stroke:none;
}

text {
    fill: #fff;
    stroke:none;
}

.brush {
    stroke: #fff;
    fill-opacity: .25;
    shape-rendering: crispEdges;
}