html, body, .ui-content, #nc-container{
    height: 100% !important;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#panelbtn{
    position: absolute;
    top: 10px;
    left: 40px;
    z-index: 1;
}

#ctrlpanel{
    opacity:0.95;
}

.leaflet-container {
    background: #000;
}     

.axis path,
.axis line{
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}
.axis text {
    fill: #fff;
    stroke:none;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
